<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="__CONTROLLER__/lst">列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="__SELF__">
        <table cellspacing="1" cellpadding="3" width="100%">
                    <tr>
                <td class="label">域名：</td>
                <td>
                    <input type="text" name="image_domain" maxlength="60" value="" />
                    <span class="require-field">*</span>
                </td>
            </tr>
      	            <tr>
                <td class="label">当前图片的数量：</td>
                <td>
                    <input type="text" name="image_count" maxlength="60" value="0" />
                    <span class="require-field">*</span>
                </td>
            </tr>
      	            <tr>
                <td class="label">服务器上最大的图片数量：</td>
                <td>
                    <input type="text" name="max_image_count" maxlength="60" value="" />
                    <span class="require-field">*</span>
                </td>
            </tr>
             <tr>
                <td class="label">ftp端口号：</td>
                <td>
                    <input type="text" name="ftpport" size="5" maxlength="60" value="21" />
                    <span class="require-field">*</span>
                </td>
            </tr>
      	            <tr>
                <td class="label">ftp账号：</td>
                <td>
                    <input type="text" name="ftpuser" maxlength="60" value="" />
                    <span class="require-field">*</span>
                </td>
            </tr>
      	            <tr>
                <td class="label">ftp密码：</td>
                <td>
                    <input type="text" name="ftppassword" maxlength="60" value="" />
                    <span class="require-field">*</span>
                </td>
            </tr>
      	            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">传智播客</div>
</body>
</html>