<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加新闻分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="__CONTROLLER__/lst">新闻分类列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加新闻分类 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form action="__SELF__" method="post">
        <table width="100%" id="general-table">
                    <tr>
                <td class="label">分类名称:</td>
                <td>
                	                   	    <input type='text' name='cat_name' maxlength="20" value='' size='27' />
                                                           	<font color="red">*</font>
                                    </td>
            </tr>
                    <tr>
                <td class="label">是否帮助:</td>
                <td>
                	                		<input checked="checked" type="radio" name="is_help" value="否" />否                	                		<input  type="radio" name="is_help" value="是" />是                	                                       	<font color="red">*</font>
                                    </td>
            </tr>
                </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>

</body>
</html>