<!-- $Id: category_list.htm 17019 2010-01-29 10:10:34Z liuhui $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 新闻列表 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Js/jquery-1.4.2.min.js" type="text/javascript"></script>
</head>
<body>
<h1>
    <span class="action-span"><a href="__CONTROLLER__/add">添加新闻</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 新闻列表 </span>
    <div style="clear:both"></div>
</h1>
<form method="post" action="__CONTROLLER__/bdel" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
            	<th width="10"><input type="checkbox" id="selall" /></th>
            	                <th>id</th>
                                <th>标题</th>
                                <th>是否显示</th>
                                <th>添加时间</th>
                                <th>浏览量</th>
                                <th>所在分类</th>
                                <th>操作</th>
            </tr>
            <?php foreach ($data as $k => $v): ?>            <tr align="center" class="0">
                <td align="left" class="first-cell" >
               		<input type="checkbox" value="<?php echo $v['id']; ?>" name="did[]" />
                </td>
								<td>
					<?php echo $v['id']; ?>				</td>
								<td>
					<?php echo $v['title']; ?>				</td>
								<td>
					<?php echo $v['isshow']; ?>				</td>
								<td>
					<?php echo $v['addtime']; ?>				</td>
								<td>
					<?php echo $v['click']; ?>				</td>
								<td>
					<?php echo $v['cat_name']; ?>				</td>
				                <td align="center">
                <a href="__CONTROLLER__/save/id/<?php echo $v['id']; ?>">编辑</a>
                 |
                <a href="__CONTROLLER__/del/id/<?php echo $v['id']; ?>" onclick="return confirm('确定要删除吗？');" title="移除" onclick="">移除</a>
                </td>
            </tr>
            <?php endforeach; ?>            <tr>
            	<td><input type="submit" value="删除所选" /></td>
            	<td colspan="7"><?php echo $page; ?></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>
<script>
$("#selall").click(function(){
	// 获取当前按钮的状态
	var chk = $(this).attr("checked");
	// 选中其它的按钮
	if(chk)
		$("input[name='did[]']").attr("checked", "checked");
	else
		$("input[name='did[]']").removeAttr("checked");
});
</script>