<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 修改新闻 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<h1>
    <span class="action-span"><a href="__CONTROLLER__/lst">新闻列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 修改新闻 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form action="__SELF__" method="post">
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table width="100%" id="general-table">
         <tr>
                <td class="label">所在分类:</td>
                <td>
                	  <select name="cat_id">
                	  	<option value="">选择分类</option>
                	  	<?php foreach ($catData as $k => $v):
                	  		if($data['cat_id'] == $v['id'])
                	  			$select = 'selected="selected"';
                	  		else 
                	  			$select = '';
                	  	 ?>
                	  		<option <?php echo $select; ?> value="<?php echo $v['id']; ?>"><?php echo $v['cat_name']; ?></option>
                	  	<?php endforeach; ?>
                	  </select>
                      <font color="red">*</font>
                </td>
            </tr>
                    <tr>
                <td class="label">标题:</td>
                <td>
                	                   	    <input type='text' name='title' maxlength="20" value='<?php echo $data['title']; ?>' size='27' />
                                                           	<font color="red">*</font>
                                    </td>
            </tr>
                    <tr>
                <td class="label">内容:</td>
                <td>
                	<textarea id="content" name="content"><?php echo $data['content']; ?></textarea>
                    <font color="red">*</font>
               </td>
            </tr>
                    <tr>
                <td class="label">是否显示:</td>
                <td>
                	    <input <?php if($data['isshow'] == '是') echo 'checked="checked"'; ?> type="radio" name="isshow" value="是" />是                	<input  <?php if($data['isshow'] == '否') echo 'checked="checked"'; ?> type="radio" name="isshow" value="否" />否                	                                       	
                	    <font color="red">*</font>
                                    </td>
            </tr>
                <td class="label">浏览量:</td>
                <td>
                	                   	    <input type='text' name='click' maxlength="20" value='<?php echo $data['click']; ?>' size='27' />
                                                           	<font color="red">*</font>
                                    </td>
            </tr>
                </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>

</body>
</html>
<script>
// 第一个参数是：textarea的id
// 第二个参数：配置UE的对象
UE.getEditor('content', {
	"initialFrameWidth" : "100%",
	"initialFrameHeight" : 500
});
</script>